{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'accounts/css/styleR.css' %}" />
    {% comment %} <style>
        body {
            background-color: red !important;
        }
    </style> {% endcomment %}
  </head>
  <body>
    <div class="container">
      <h2>Register</h2>
      <form action="" method="post">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit">Sign Up</button>
      </form>
      <a href="{% url 'login' %}">Already have an account? Login here</a>
    </div>
    <style>
        body {
            background-color: red !important;
        }
    </style>
    <script src="{% static 'accounts/javascript/scriptR.js' %}"></script>
  </body>
</html>
