{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Your Product</title>
  
    <link rel="stylesheet" href={% static 'css/stylePLF.css' %}>
</head>
<body>
    <div class="container">
        <h2>List Your Product</h2>
        <form id="productForm" enctype="multipart/form-data" method="POST">
            {% csrf_token %}
        <div>  
            <label for="productName">Product Name:</label>
            <input type="text" id="productName" name="productName" required>
        </div>
        <div>  

            <label for="description">Description:</label>
            <textarea id="description" name="description" required></textarea>
        </div>
        <div>
            <label for="price">Price:</label>
            <input type="number" id="price" name="price" required>
        </div>
        <div>
            <label for="quantity">Quantity:</label>
            <input type="number" id="quantity" name="quantity" required>
        </div>
        <div>
            <label for="category">Category:</label>
            <select id="category" name="category">
                <option value="fruits">Fruits</option>
                <option value="vegetables">Vegetables</option>
                <option value="grains">Grains</option>
                <option value="others">Others</option>
            </select>
        </div>
        <div>
            <label for="images">Upload Images:</label>
            <input type="file" id="images" name="images" accept="image/*" multiple>
            <div id="imagePreview"></div>
        </div>
        <div>
            <label for="video">Upload Video:</label>
            <input type="file" id="video" name="video" accept="video/*">
            <div id="videoPreview"></div>    
        </div>
        <div>
            <label for="negotiation_type">Negotiation Type:</label>
            <select id="negotiation_type" name="negotiation_type">
                <option value="">-- Select --</option>
                <option value="active">Active</option>
                <option value="passive">Passive</option>
            </select>
        </div>
    
        <div>
            <label for="validity_hours">Validity (Hours):</label>
            <input type="number" id="validity_hours" name="validity_hours" placeholder="Only for active">
        </div>
    
        <div>
            <label for="validity_days">Validity (Days):</label>
            <input type="number" id="validity_days" name="validity_days" placeholder="Only for passive">
        </div>
            <button type="submit">Submit</button>
        </form>
    </div>
    

    <script src="{% static 'javascript/scriptPLF.js' %}"></script>
</body>
</html>
