{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'css/styleR.css' %}" />
    
  </head>
  <body>
    <div class="container">
      <h2>Register</h2>
      <form action="" method="post">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit">Sign Up</button>
      </form>
      <a href="{% url 'login' %}">Already have an account? Login here</a>
    </div>
  
    <script src="{% static 'javascript/scriptR.js' %}"></script>
  </body>
</html>
