body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}
.categories {
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.category-item {
    padding: 10px;
    cursor: pointer;
}
.carousel-inner img {
    height: 400px; /* Adjust height as needed */
    object-fit: cover; /* Ensures images cover the entire space without distortion */
}
.product-grid {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.product-item, .price-item {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 10px;
}